<html>
<head>

<title>{% block title %}Why Django{% endblock title %}</title>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
<script src="{{ MEDIA_URL }}js/modernizr-1.1.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" type="text/javascript"></script>
{% block extrahead %}{% endblock %} 
{% block extrajs %}{% endblock %} 

</head>


<body>

<table id="icon_buttons">
<tr>
<td><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Download Django" /></td>
<td><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Download Django" /></td>
<td><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Download Django" /></td>
<td><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Download Django" /></td>
</tr>
<tr>
<td>DOWNLOAD</td>
<td>DOWNLOAD</td>
<td>DOWNLOAD</td>
<td>DOWNLOAD</td>
</tr>
</table>

<div id="page_header">
<img id="logo" src="{{ MEDIA_URL }}img/logo.png" alt="Why Django?" />
</div>

<div id="main_container">
{% block content %}{% endblock content %}

<div id="footer">
© 2010 Django Software Foundation unless otherwise noted. Django is a registered trademark of the Django Software Foundation.  Website created by <a href="http://www.pydanny.com">Daniel Greenfeld</a>, design by <a href="http://www.fuzzyrainbow.com">Audrey Roy</a>, powered by <a href="http://www.djangoproject.com">Django</a>.
</div>

</div>



</body>
</html>
