<html>
<head>
{% block head %}
<title>Why Django</title>
{% endblock head %}
</head>





<body>
    
    
<ul>  
    <li><a id="security" href="security">Security</a></li>
    <li><a id="performance" href="performance">Performance</a></li>    
    <li><a id="usability" href="usability">Usability</a></li>        
    <li><a id="books" href="books">Books</a></li>            
    <li><a id="companies" href="companies">Professional Services</a></li>     
    <li><a id="press-releases" href="press-releases">Press Releases</a></li>                               
</ul>    
    
    
    
{% block content %}

{% endblock content %}

</body>
</html>