<html>
<head>

<title>{% block title %}Why Django{% endblock title %}</title>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
<script src="{{ MEDIA_URL }}js/modernizr-1.1.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" type="text/javascript"></script>
{% block extrahead %}{% endblock %} 
{% block extrajs %}{% endblock %} 

</head>


<body>
<div class="wrapper">
<table id="icon_buttons">
<tr>
<td><a href="/articles/"><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Articles" /></a></td>
<td><a href="/books/"><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Books" /></a></td>
<td><a href="/case-studies/"><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Case Studies" /></a></td>
<td><a href="/download/"><img class="icon_button" src="{{ MEDIA_URL }}img/btn_download.png" alt="Download Django" /></a></td>
</tr>
<tr>
<td>ARTICLES</td>
<td>BOOKS</td>
<td>CASE STUDIES</td>
<td>DOWNLOAD</td>
</tr>
</table>

<div id="page_header"><a href="/">
<img id="logo" src="{{ MEDIA_URL }}img/logo.png" alt="Why Django?" />
</a>
</div>

<div id="main_container">
{% block main_container_content %}{% endblock main_container_content %}
</div>
<div class="push"></div>
</div>

</body>
</html>
