{% extends '1col_base.html' %}

{% load social_bookmarking_tags %}

{% block title %}Case Study for {{ object.title }}{% endblock title %}

{% block col1_content %}

<h1>Case Study for <a href="{{ object.url }}">{{ object.title }}</a></h1>

<div id="breadcrumbs">
    
    <a href="{% url casestudies %}">Case Studies</a> {{ object.title }}
    
</div>

<div class="content">

    <p class="pub_date">Posted on {{ object.pub_date|date:"SHORT_DATE_FORMAT" }}</p>

    <p class="description">{{ object.description }}</p>

    <div class="body">{{ object.content|safe }}</div>

</div>

{% endblock col1_content %}
