{% extends '1col_base.html' %}

{% load core_tags %}
{% load uni_form_tags %}

{% block title %}Submit Proposal{% endblock title %}

{% block col1_content %}

<h1>Submit Proposal</h1>

<div class="content">
<div class="content-form">
<form action="{% url case_study_submission %}" method="post" class="uniForm">
    {% csrf_token %}
    <fieldset>
    {{ form|as_uni_form }}
    </fieldset>    
    <input type="submit" value="submit">    
</form>
</div>
</div>
{% include "uni_form/includes.html" %}

<script type="text/javascript">
    $(function() {   
        $("#id_name").focus();
    });         
</script>

{% endblock col1_content %}

