{% extends 'base.html' %}

{% load core_tags %}
{% load social_bookmarking_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/homepage.css" />
{% endblock %}

{% block content %}
<div id="right_side_col">
<div id="case_studies">
<h2>case studies</h2>

{% set_case_studies %}


{% for case_study in case_studies %}

    <div class="case-study">
        <div class="case-study-title"><a href="{{ case_study.get_absolute_url }}">{{ case_study.title }}</a></div>
        <div class="case-study-image"><a href="{{ case_study.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ case_study.image }}" width="300px" /></a></div>
    </div>

{% empty %}

    <h1>No feature case studies</h1>

{% endfor %}

</div>
</div>

<div class="content">
{{ flatpage.content|safe }}
</div>

{% show_bookmarks flatpage.title flatpage %}


{% endblock content %}
