{% extends 'base.html' %}

{% load core_tags %}

{% block extrahead %}
    
    {% for css in css_items %}
        <style type="text/css" media="screen">
            {{ css.content }}
        </style>
    {% endfor %}
    
    {% for js in js_items %}
        <script type="text/javascript">
            {{ js.content }}
        </script>
    {% endfor %}
     
{% endblock extrahead %}
    
{% block content %}

{% top_links %}

{% for html in html_items %}
    
    <div id="{{ html.title|slugify }}">
        <h1>{{ html.title }}</h1>
        {{ html.content|safe }}
    </div>
{% endfor %}


{% endblock content %}
