/* Sticky footer from http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
* {margin: 0;}
html, body {height: 100%;}
.wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -4em;}
.footer, .push {height: 4em;}
.footer, .push {clear: both;}

/* General */
body {font-family:Helvetica LT, Helvetica, Arial, sans-serif; font-size:84%; color:#241c1c;}

body, p, div {line-height:1.5;}

h1, h2, h3, h4, h5, h6, p {padding:10px 0;}

h1 {font-size:270%;}
h2 {font-size:200%;}
h3 {font-size:185%;}
h4 {font-size:180%;}
h5 {font-size:175%;}
h6 {font-size:170%;}

a, a:visited, a:hover {color:#89a02c; font-weight:900; text-decoration:none;}
a:hover {text-decoration:underline;}

#page_header {background:#fff url('../img/header_gradient.png') repeat-x; height:210px;}

#icon_buttons {float:right; margin:40px;}
#icon_buttons td {text-align:center; font-weight:bold; font-size:78%; width:100px;}

#logo {margin:30px 50px 0 20px; }

#top_links li {display:inline;margin-right:10px;}

#title {position:absolute; left:700px; top:130px;}

#main_container {margin:0; position:absolute; left:0; top:153px;}

.col1_content {margin:40px 960px 0 80px;}

#footer {border-top:6px #94da3a;font-size:70%; width:600px; margin-top:10px; margin-left:40px;}

